.deck-tooltip {
  position: absolute;
  background: white;
  margin: 10px;
  padding: 10px;
  z-index: 999999999;
  transform: translate3d(0px, 0px, 0px);
}

#deckgl-wrapper {
  cursor: auto !important;
  height: 75vh !important;
}

.loading_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(100, 100, 100);
}

.loading_container p {
  margin-top: calc(1rem + 2vh);
  font-size: 3vh;
  color: rgb(235, 235, 235);
}

.ReactModal__Content {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.loading_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(100, 100, 100);
}

.loading_container p {
  margin-top: calc(1rem + 2vh);
  font-size: 3vh;
  color: rgb(235, 235, 235);
}

.nypd_arrest_map_container {
  height: 100vh;
  max-width: 100vw;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  transition: opacity 1s ease;
}

.footer_info_menu {
  height: 100vh;
  background: black;
}

@media only screen and (max-width: 767px) {
  #deckgl-wrapper {
    height: 100vh !important;
  }
}

@media only screen and (min-width: 1600px) {
  #deckgl-wrapper {
    height: 78vh !important;
  }
}

@media only screen and (min-width: 2200px) {
  #deckgl-wrapper {
    cursor: auto !important;
    height: 84vh !important;
  }
}
